*{
    margin: 0;
    padding: 0;
}
.body{
    font-family: 'Montserrat', sans-serif;
}
.main{
    padding-bottom: 370px;
}
.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}
.title-main{
    display: flex;
    margin-left: -520px;
    margin-top: 30px;
}
.title-main__img{
    height: 50px;
    margin-right: 20px;
}
.title-stroka{
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 10px;
    color: #fff;
    text-shadow: #000 0 0 5px;
}
.navbar{
    display: flex;
    font-family: 'Montserrat', sans-serif;
}
.navbar-links{
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    margin-left: 100px;
    padding:20px 0px 20px 0px;
}
.navbar a:hover{
    border-bottom: 3px solid slateblue;
}

.official{
    font-family: 'Montserrat', sans-serif;
    margin-top: 50px;
    margin-left: 100px;
    color: #fff;
}
.official-title{
    margin-bottom: 50px;
}
.official-btn{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    border: none;
    padding: 20px 50px 20px 50px;
    background-color: rgb(64, 46, 182);
    color: #fff;
}
.official a:hover{
    background-color: rgb(101, 85, 204);
}


.footer-bar{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;
    padding: 30px 0px 20px 0px;
}