<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>To Do List</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>
<div class="flexx">
	<div id="myDIV" class="header">
		<h2>Список Задач</h2>
		<input type="text" id="myInput" placeholder="Введите задачу">
		<span class="addBtn" onclick="newElement()">Добавить</span>
	</div>
	<ul id="myUL">
	</ul>
</div>

	<script src="script.js"></script> 
</body>
</html>
























